
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Shared/AdminLayout.cshtml";
}

<div class="container">
    <div class="col-md-6">


        <h2>Admin Panele Hoş Geldiniz...</h2>


    </div>
</div>

